body {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.container {
  text-align: center;
  margin: 50px;
}

.weatherwise {
  border: 4px solid #99ff66;
  padding: 40px 20px;
  margin: 30px auto;
  max-width: 650px;
  border-radius: 5px;
  background: #120052;
}

input {
  border: 1px;
  border-radius: 8px;
  color: #03dddc;
  background: #213e3b;
  padding: 8px 6px 6px 8px;
}

.currentLocation {
  border: 1px solid #213e3b;
  padding: 5px 20px;
  margin: 30px auto;
  border-radius: 5px;
  background: #213e3b;
  color: #03dddc;
}

h1 {
  padding-bottom: 50px;
  font-family: "Tajawal", sans-serif;
  color: #03dddc;
  text-align: center;
}

h5 {
  color: #03dddc;
}

.notes {
  text-align: right;
  font-size: 25px;
  line-height: 28px;
  font-family: "Tajawal", sans-serif;
  color: #03dddc;
}

.appcontent {
  font-size: 66px;
  text-align: left;
  font-family: "Tajawal", sans-serif;
  color: #03dddc;
}

.row {
  font-family: "Tajawal", sans-serif;
  color: #03dddc;
}

.link {
  text-align: left;
  text-align: center;
  color: #99ff66;
}
